* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 700;

}

$font-size: 5vh;
$height: 8vh;
$boardColor1: black;
$boardColor2: white;



.wrap {
    background-color: #1d1c1c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    min-height: 600px;



}

.ContainerStartScrin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30vh;
    overflow: hidden;
    transition: .5s;

    div {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .3s linear;

    }

    .hidden {

        height: 0;
        overflow: hidden;
    }


    button {
        color: white;
        padding: 10px 50px;
        background-color: #9d9c9c;
        border: 2px solid rgb(61, 146, 128);
        height: $height;
        margin: 5px 0;
        border-radius: 5px;


        &:hover {
            background-color: rgb(61, 146, 128);
            border: 2px solid #9d9c9c;

            &:nth-child(2) {
                z-index: 2;
            }
        }

    }
}









.board {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 17%;
        height: 80px;
        height: 20%;
        font-size: $font-size;
        background-color: rgb(44, 98, 121);
        padding: 10px;
        margin: 5px;
        border-radius: 5px
    }


    div.hidden {
        display: flex;
        justify-content: center;
        flex-basis: 17%;
        min-height: 80px;
        font-size: $font-size * 0;
        background-image: url("./picture/znak zapytania.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-origin: content-box;
        padding: 10px;
        margin: 5px;
    }

    .noVisible {
        font-size: 0;
        background-color: transparent;
        height: 1px;
        padding: 0 10px;
        margin: 0 5px;
    }
}